html, body, div, ul, li, a, section, header, footer {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

.tournament-part {
    width: 80%;
    position: relative;
    left: 20%;
}

.search-bar {
    width: 100%;
    position: relative;
    border: 1px solid #6b6e70;
}

.search-bar input {
    font-size: 20px;
    font-weight: 900;
    position: relative;
    left: 0px;
    color:#6b6e70;
    text-transform: uppercase;
    display: inline-block;
    width: calc(100% - 100px);
    border: 0px;
    outline: none;
}

.search-bar input::placeholder {
    opacity: 0.3;
}

.search-bar .search-icon {
    position: relative;
    display: inline-block;
    left: 20px;
}

.tournament-info-section {
    position: relative;
    top:200px;
}

.tournament-info {
    width: 100%;
    height: 50px;
}

.black-tournament {
    background-color: #222629;
}

.white-tournament {
    background-color: white;
}

.tournament-info h1 {
    position: relative;
    display: inline-block;
    color: #61892f;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    vertical-align: top;
    top:10px;
    left: 15px;
}

.wrapper-buttons {
    position: relative;
    display: inline-block;
    height: 40px;
    left: 50%;
    top: 5px;
}

.wrapper-buttons div {
    display: inline-block;
    position: relative;
}

.button {
    width: 30px;
    height: 30px;
    border: 4px solid black;
    border-radius: 50%;
    border-color: #86c232;
    margin-right: 10px;
}

.button p {
    text-align: center;
    font-size: 12px;
    color: #86c232;
    position: relative;

    margin: 0 auto;
    font-weight: 900;
}

.button-expand {
    width: 30px;
    height: 30px;
    border: 4px solid black;
    border-radius: 50%;
    border-color: #86c232;
    margin-right: 10px;
}

.button-expand p {
    text-align: center;
    font-size: 12px;
    color: #86c232;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
    padding: 0;
    margin-top: 8px;
    position: relative;
}

.left-menu{
    width: 20%;
    height: 100vh;
    background-color: #222629;
    position: fixed;

}

.profile-picture-circle{
    
    border-radius: 50%;
    background-color: green;
    height: 84px;
    width: 84px;
    margin: 0 auto;
    position: relative;
    top: 10px;
    background-image: url('../images/fat.jpg');
    background-size: cover;
}

.menu-options {
    position: relative;
    min-width: 100%;
    top: 50px;
}

.inner-left-menu {
    width: 80%;
    position: relative;
    left: 10%;
    font-size: 15px;
    font-weight: 900;
    color: white;
}

.menu-options ul {
    list-style-type: none;
}

.menu-options ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.tournament-info h1 a {
    color: #61892f;
    text-decoration: none;
}

.tournament-expanded {
    height:300px
}

.feature-tournament-info {
   display: relative;
}

.feature-tournament-info p{
    display: inline-block;
    color: white;
}

.downloadable-info-feature {
    cursor: pointer;
    text-decoration: underline;
}

.wrapper-features-hidden {
    display: none;
}

.white-tournament .wrapper-features p {
    color: black
}

.white-tournament .view-tournament {
    color: black;
}

.black-tournament .view-tournament {
    color: white;
}
