.profile-image{
    width: 250px;
    height: 250px;
    position: relative;
}

.profile-image img{

    width: 100%;
    height: 100%;
}

.change-info input{

    height: 40px;
    width: 240px;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 15px;

}

.profile-info{

    position: relative;
    top: 20px;
    left: 20px;
}