.tournament-name {
    margin: 0;
    padding: 0;
    color: #2d2d2d;
    position: relative;
}

.tournament-info-big {
    position: relative;
    top: 20px;
    left: 20px;
    color: #2d2d2d;
}

.tournament-info-big h1{
    margin: 0;
    padding: 0;
    font-size: 30px;
}

.tournament-state ul{
    list-style-type: none;
    position: relative;
    left: 25px;
}

.generated-poll {
    width: 100%;
    height: 300px;
    background-color: #222629;
}

.generated-poll {
    color:  #86c232;
}

.team-inside-torunament input{
    width: 30px
}
