html, body, div, ul, li, a, section, header, footer {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

header {
    background-color: #222629;
    height: 100px;
    width: 100%;
    display: block;
}

.toggle-burger-menu-on {
    display: none;
    width: 100%;
    height: 60px;
    background-color: #222629;
}

.toggle-burger-menu-on .inner-content {
    width: 100%;
    top: calc(50% - 15px);
    position: relative;
}

.toggle-burger-menu-on ul {
    width: 40px;
    position: relative;
    left: 10%;
    cursor: pointer;
}

.toggle-burger-menu-on ul li {
    list-style-type: none;
    position: relative;
}

.toggle-burger-menu-on h1 {
    position: relative;
    cursor: pointer;
    color: white;
    margin: 0;
    padding: 0;
    left: 10%;
    display: none;
}


.burger-menu-toggle-line {
    width: 40px;
    height: 5px;
    background-color: white;
    margin-bottom: 5px;
}

.menu-shown {
    display: block;
}

.menu-hidden {
    display: none;
}

header .inner-content {
    position: relative;
    top: calc(50% - 15px);
}

header ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;  
}

header ul li a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

footer {
    background-color: #222629;
    height: 45px;
    width: 100%; 
    color: white;
    position: fixed;
    bottom: 0px;
}

footer p {
    font-weight: 600;
    font-size: 10px;
}

footer .inner-content {
    position: relative;
    top: calc(50% - 10px);
}

.inner-content {
    width: 960px;
    margin: 0 auto;
}

.content {
    position: relative;
    width: 100%;
    min-height: 620px;
    top: 200px;
    margin-bottom: 75px;
}

#left-info {
    display: inline-block;
    margin-right: 350px;
    margin-top: 0px;
}


#left-info h1{
    color: #61892f;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

#left-info p{
    color: #474b4f;
    font-size: 14px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    top: 0px;
}

#left-info ul {
    margin-top: 100px;
    list-style-type: none;
}

#left-info ul li {
    margin-top: 10px;
}

#left-info ul li a {
    color:#6b6e70;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

#right-info {
    display: inline-block;
}

#right-info p {
    color:#6b6e70;
    font-size: 20px;
    font-weight: light;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    margin-top:30px;
}

#right-info ul {
    width: 60px;
    margin: 0 auto;
}

#right-info ul li {
    list-style-type: none;
    display: inline-block;
}

.green-button {
    background-color: #86c232;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.inner-content form input{
    height: 40px;
    width: 200px;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 15px;
}

.inner-content form textarea{
    font-size: 15px;
}

.inner-content form input[type=submit]{
    height: 30px;
    width: 100px;
    background-color: #86c232;
    border: 0;
    color: #222629;
    cursor: pointer;
}

.inner-content .subtitle {
    text-transform: uppercase;
    color: #222629;
}

#join-now-span {
    text-transform: uppercase;
    color: #86c232;
    cursor: pointer;
}

#join-now-span a {
    color: #86c232;
    text-decoration: none;
}

.motherfucker-span a {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 1000px) {
    #right-info {
        display: none;
    }
    #left-info {
        max-width: 100%;
        margin-right: 0px;
    }
    .inner-content {
        width: 50%;
    }
    header ul li a {
        font-size: 15px;
    }
    
}

@media only screen and (max-width: 750px) {
    .toggle-burger-menu-on {
        display: block;
    }

    header {
        display: none;
        height: 120px;
    }
    
    header ul li{
        list-style-type: none;
        display: block;
        margin-bottom: 10px;
    }
    
    header .inner-content {
        position: relative;
        left: 10%;
        width: 100%;
        top: 0px;
    }
}