.selected-user-entry {
    background-color: yellowgreen;
}

.user-info-nonAdmin{
    padding: 10px;
    margin:0;
    border: 0.5px solid black
}

.unselected-user-entry{
    background-color:aliceblue;
}