html, body, div, ul, li, a, section, header, footer {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}
body{
    min-height: 100%;
}

html {
    height: 100%;
}

body {
    height: 100%;
}


.content-wrap-inside {
    width: 100%;
    height: 100%;
}

.left-side {
    width: 15%;
    height: 100%;
    position: fixed;
    background-color: #222629;
    top:0;
    left: 0;
}

.right-side {
    width: 85%;
    height: 100%;
    position: relative;
    margin-left: 15%;
    display: block;
}