.profile-image {
    width: 250px;
    height: 250px;
    position: relative;
}

.profile-image img {
    width: 100%;
    height: 100%;
}

.change-info input {
    height: 40px;
    width: 240px;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 15px;

}

.profile-info {
    position: relative;
    top: 20px;
    margin-left: 20px;
}

.profile-data {
    position: relative;
    left: 20px;
    top: 20px;
    max-height: 200px;
    min-width: 100%;
    display: inline-block;
}

.profile-data-entry-square {
    min-width: 200px;
    min-height: 200px;
    color: white;
    box-shadow: 1px 1px 1px #2d2d2d;
    float: left;
}

.profile-data-entry-rectangle{
    position: relative;
    min-width: 300px;
    min-height: 100px;
    box-shadow: 1px 1px 1px #2d2d2d;
    float:left;
    margin-left: 10px;
}

.profile-data-entry-rectangle h1 {
    position: relative;
    margin: 0;
    padding: 0;
    color: #2d2d2d;
    font-size: 23px;
}

.profile-pic {
    float: left;
    max-width: 300px;
    max-height: 200px;
    box-shadow: 1px 1px 1px #2d2d2d;
}

#update-user-form {
    position: relative;
    top: 20px;
    left: 20px;
    min-width: 300px;
    display: inline-block;
}

#update-user-form input {
    height: 40px;
    position: relative;
    top:10px;
    margin-top: 10px;
}