.team-groups p {
    font-weight: bold;
    color: black;
    padding: 30px;
    margin: 0;
    border-top: 1px solid black;
    cursor: pointer;
}

.last {
    border-bottom: 1px solid black;
}

.match-div {
    margin-bottom: 100px;
}

.normal-match-entry {
    background-color: aliceblue;
}

.swap {
    background-color: lightseagreen;
}

.team-groups .generate-button
{
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 20px;
    margin: 0;
    border-top: 1px solid;
    text-transform: uppercase; 
    cursor: pointer;
}