.tournament-name {
    margin: 0;
    padding: 0;
    color: #2d2d2d;
}

.tournament-info-big {
    position: relative;
    top: 20px;
    margin-left: 20px;
    color: #2d2d2d;
}

.tournament-info-big h1{
    margin: 0;
    padding: 0;
    font-size: 30px;
}

.tournament-state ul{
    list-style-type: none;
    left: 25px;
}

.generated-poll {
    width: 100%;
    height: 300px;
    background-color: #222629;
}

.generated-poll {
    color:  #86c232;
}

.team-inside-torunament input{
    width: 30px;
}

.comment{
    max-width: 60%;
}

.teams-selector {
    display: inline-block;
    min-width: 90%;
    position: relative;
    top: 100px;
    min-height: 100px;
}

.select-team-entry {
    display: inline-block;
    min-width: 90%;
    position: relative;
    min-height: 40px;
    background-color: aliceblue;
    margin-top: 5px;
}

.team-name { 
    color: #222629;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.team-id {
    color: #222629;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.selected-team-entry {
    background-color: yellowgreen;
}

.add-button-teams {
    background-color: black;
    width: 300px;
    height: 100px;
    display: inline-block;
    position: relative;
    margin-top: 50px;
    color: white
}

.add-button-teams h1 {
    text-align: center;
}

.hidden-teams {
    display: none;
}

.info-list-tourney {
    width: 60%;
}

.info-list-tourney p {
    padding: 10px;
    background-color: aliceblue;
    margin:0;
    display: inline-block;
    width: 20%;
    border: 0.5px solid black;
}

.tourney-name {
    color: black;
    font-size: 30px;
    text-transform: uppercase;
}

.score-updateable {
    margin-bottom: 50px;
}

.score-updateable p {
    padding: 10px;
    background-color: aliceblue;
    margin:0;
    border: 0.5px solid black;
}

.score-updateable input {
    padding: 10px;
    background-color: aliceblue;
    margin:0;
    border: 0.5px solid black;
}

.update-tourney {
    padding: 20px;
    background-color: black;
    color: white;
    margin:0;
    cursor: pointer;
    text-transform: uppercase;
}